html {
    scroll-behavior: smooth;

}

body {
    max-width: 100%;
    margin: 0px;
    font-family: serif !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px !important;
    line-height: 20px;
    max-width: 100%;
    background-color: #1e323a;
    color: #c4c4c4;
    position: sticky;
    top: 0;
}

.navbar-link {
    align-self: center !important;
    color: #c4c4c4 !important;
}

.navbar-link .link {
    color: #c4c4c4 !important;
    padding: 8px 15px !important;
    border-radius: 30px !important;
    border: 1px solid #c4c4c4 !important;
    margin-left: 10px !important;
    transition: background-color 0.5s ease !important;
}

.navbar-link :hover {
    background-color: #c4c4c4 !important;
    color: #1e323a !important;
}

#title {
    color: #c4c4c4;
    text-decoration: none;
}

#title :hover {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e323a;
    color: #c4c4c4;
    padding: 10px 40px;
    position: sticky;
    bottom: 0px;
}

.footer-contant {
    margin-left: 15Px !important;
}

.footer a {
    text-decoration: none !important;
    color: #c4c4c4 !important;
}
#img-box{
    height: 100px !important;
    width: auto !important;
}

#img-size{
    height:400px;
    width: auto;

}


.link {
    text-decoration: none !important;
}

.link :hover {
    text-decoration: underline !important;
}

.Lebenslauf {
    margin-right: 100% !important;
}
 
.boxes {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 750px;
    margin: 40px auto; 
    padding: 20px 40px;
    border-radius: 10px;
    margin: 40px auto;
    line-height: 20px;
    max-width: 750px;
}

#zusammenfassung {
    display: flex;
}

#picture {
    width: auto;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    margin-left: 50px;
}

#zusammenfassung_title {
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
    color: green !important;
}
a :hover {
    text-decoration: none !important;
}

#Schnupperlehren{
    line-height: 1.5;
}

@media only screen and (max-width: 570px) {
    #zusammenfassung {
        display: grid;
    }

    #picture {
        display: block;
        margin: 0 auto;
    }

    .footer {
        display: grid;
        text-align: center;
        padding-bottom: 29px;
    }

    .footer-contant {
        margin-left: 0;
    }

    h3.footer-contant {
        margin-bottom: 10px;
        margin-left: 0;
    }

}

@media only screen and (max-width: 460px) {
    .navbar-link {
        display: grid;
        text-align: center;
    }

    #Schnunppern {
        margin-bottom: 5px;
    }
}